h1 {
    text-align: center;
}

.preview-image {
    width: 50vw;

    border-radius: 1vw;
    border-width: 0.5vw;
    border-style: solid;

    /* Center */

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 20vh;
}

.section > ul {
    list-style-type: disc;
}


/* Reset counter on header */

.section > ol {
    list-style: none;
}

.section > ol > h3 {
    counter-reset: directionCounter;
}

.section > ol > li::before {
    content: counter(directionCounter) '. ';
}

.section > ol > li {
    counter-increment: directionCounter;
}