/* Header */

h1 {
    text-align: center;
}

/* Preview Image */

.preview-image {
    /* General */

    width: 50vw;

    /* Border */

    border-radius: 1vw;
    border-width: 0.5vw;
    border-style: solid;

    /* Center */

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Section */

.section {
    margin-top: 20vh;
}

.section > ul {
    list-style-type: disc;
}

/* Hanging indent */

.section > ol > li {
    padding-left: 1.5em;
    text-indent:-1.5em;
}


/* Grids */

.grid-container {
    display: flex;
    justify-content: space-evenly;

    border-radius: 0.5vw;
    border-width: 0.25vw;
    border-style: solid;
}

.grid-container {
    background-color: var(--secondary-color);
}

.grid-container * {
    background-color: var(--secondary-color);
}