html {
    cursor: url(cursor-closed.png), auto;
}

body {
    --bg-color: #050211;
    --fg-color: #B5C2B7;
    --dark-fg-color: #8C93A8;
    --primary-color: #FF1B1C;
    --secondary-color: #FF7F11;
    --ternary-color: #A05CE0;

    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--fg-color);
    padding: 0 10px;
    font-family: 'Lucida Console', 'Helvetica', 'Arial';

    background-color: var(--bg-color);
    background-image: url("background.webp");
    background-repeat: repeat;
    background-position: center;
}

h1 {
    text-shadow: 2px 2px var(--dark-fg-color);
}

.nav-icon {
    width: 1em;
}

/* Anchors */

a {
    display: inline-flex;
    color: var(--ternary-color);
    transition: color 0.2s;
    cursor: url(cursor.png), auto;
}

a:hover {
    color: var(--secondary-color);
    filter: drop-shadow(var(--secondary-color) 0px 0px 2px);
}

a:active {
    color: var(--primary-color);
    filter: drop-shadow(var(--primary-color) 0px 0px 2px);
}