html {
    cursor: url(cursor.png), auto;
}

body {
    --bg-color: #050211;
    --fg-color: #B5C2B7;
    --dark-fg-color: #8C93A8;
    --primary-color: #FF1B1C;
    --secondary-color: #FF7F11;
    --ternary-color: #A05CE0;

    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--fg-color);
    padding: 0 10px;
    font-family: 'Lucida Console', 'Helvetica', 'Arial';
    background-color: var(--bg-color);
}

/* the internet told me it's ok to steal css effects as long as you don't get caught... */
/* ok fine I stole it from https://gears.nekoweb.org/ don't arrest me (ywsac!) */
.crt-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: 
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)),
        radial-gradient(circle, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
    background-size: 100% 3px, 3px 100%, 100% 100%;
    z-index: 9999;
    pointer-events: none;
}

h1 {
    text-shadow: 2px 2px var(--dark-fg-color);
}

.nav-icon {
    width: 1em;
}

/* Anchors */

a {
    display: inline-flex;
    color: var(--ternary-color);
    transition: color 0.2s;
    cursor: url(cursor-highlight.png), auto;
}

a:hover {
    color: var(--secondary-color);
    filter: drop-shadow(var(--secondary-color) 0px 0px 2px);
}

a:active {
    color: var(--primary-color);
    filter: drop-shadow(var(--primary-color) 0px 0px 2px);
}