body {
    --bg-color: #0D0628;
    --fg-color: #B5C2B7;
    --dark-fg-color: #8C93A8;
    --primary-color: #FF1B1C;
    --secondary-color: #FF7F11;
    --ternary-color: #A05CE0;

    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--fg-color);
    padding: 0 10px;
    background-color: var(--bg-color);
    font-family: 'Lucida Console', 'Helvetica', 'Arial';
}

h1 {
    text-shadow: 2px 2px var(--dark-fg-color);
}

.nav-icon {
    width: 1em;
}

/* Anchors */

a {
    display: inline-flex;
    color: var(--ternary-color);
    transition: color 0.2s;
}

a:hover {
    color: var(--secondary-color);
    transform: skew(-5deg);
}

a:active {
    color: var(--primary-color);
}