---
layout: default
favicon_src: /assets/images/navigators/icons/cooking-with-ogghostjelly.jpg
---

<link rel="stylesheet" href="{{ "/assets/css/recipe.css" | relative_url }}">
<title>{{ page.title }} - Cooking With OgGhostJelly</title>

<div class="section">
    <h1>{{ page.title }}</h1>
    {% if page.preview_src %}
    <img class="preview-image" src="{{ page.preview_src | relative_url }}">
    {% endif %}
    <p style="text-align: center;">{{ page.description }}</p>
</div>

{% if page.active_time or page.inactive_time or page.total_time or page.servings or page.rating %}
<div class="section">
    {% if page.rating %}
    <style>
        .rating-meter-fill {
            width: {{ page.rating | times: 100 }}%;
        }
    </style>

    <h3 style="text-align: center; margin: 0;">Moistness</h3>
    <div class="rating-meter">
        <div class="rating-meter-fill"></div>
    </div>
    {% endif %}

    {% if page.active_time or page.inactive_time or page.total_time or page.servings %}
    <div class="grid-container">
        {% if page.active_time %}
        <span>
            <h4>Active Time:</h4>
            <p>{{ page.active_time }}</p>
        </span>
        {% endif %}
        
        {% if page.inactive_time %}
        <span>
            <h4>Inactive Time:</h4>
            <p>{{ page.inactive_time }}</p>
        </span>
        {% endif %}
        
        {% if page.total_time %}
        <span>
            <h4>Total Time:</h4>
            <p>{{ page.total_time }}</p>
        </span>
        {% endif %}

        {% if page.servings %}
        <span>
            <h4>Servings:</h4>
            <p>{{ page.servings }}</p>
        </span>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}

<script>
    function onHeaderCheckboxPressed(self, header_id) {
        for (const element of document.body.getElementsByClassName(`${header_id}-item`)) {
            element.checked = self.checked
        }
    }

    function onItemCheckboxPressed(self, header_id) {
        isPressed = true

        for (const element of document.body.getElementsByClassName(`${header_id}-item`)) {
            if (!element.checked) {
                isPressed = false
                break
            }
        }

        document.querySelector(`#${header_id}`).checked = isPressed
    }
</script>

<div class="section">
    <h2>Ingredients</h2>
    <hr>
    <ul>
        {% for ingredient in page.ingredients %}
            {% if ingredient.header %}
                {% assign header_id = forloop.index0 | prepend: "ingredient" %}
                <h3><input type="checkbox" onchange="onHeaderCheckboxPressed(this, '{{ header_id }}')" id="{{ header_id }}"> {{ ingredient.header }}</h3>
            {% else %}
                <li><input type="checkbox" onchange="onItemCheckboxPressed(this, '{{ header_id }}')" class="{{ header_id }}-item"> {{ ingredient.item }} - {{ ingredient.amount }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>Directions</h2>
    <hr>

    <ol>
        {% assign counter = 1 %}

        {% for direction in page.directions %}
            {% if direction.header %}
                {% assign header_id = forloop.index0 | prepend: "direction" %}
                <h3><input type="checkbox" onchange="onHeaderCheckboxPressed(this, '{{ header_id }}')" id="{{ header_id }}"> {{ direction.header }}</h3>
                {% assign counter = 1 %}
            {% else %}
                <li value="{{ counter }}"><input type="checkbox" onchange="onItemCheckboxPressed(this, '{{ header_id }}')" class="{{ header_id }}-item"> {{ direction }}</li>
                {% assign counter = counter | plus: 1 %}
            {% endif %}
        {% endfor %}
    </ol>
</div>